*,*::after,*::before{
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #DCCBB5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    
    height: 100vh;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body .container-of-all{
    display: flex;
    justify-content: center;
    align-items: center;
/*    width: 65%;*/
    width: 80%;
    height: 90%;
    flex-wrap: wrap;
}
body .container-of-all .content{
    background-color: #f7b733;
/*    width: 50%;*/
    width:100%;
    box-shadow: 4px -4px 30px -2px #444;
    z-index: 2;
    padding: 10px;
    

}
.container-of-all .content > div:first-of-type h1{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: flex;
    margin-bottom:10px;

}
.container-of-all .content > div:first-of-type p{
    font-size:14px;
    color:#444;
    
}
.container-of-all .content > div:first-of-type span{
    margin-left: auto;
    display: block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: lighter;
    background-color: #2175f5;
    border-radius: 6.5px;
    text-transform: uppercase;
    transition: .4s all linear;
}
.container-of-all .content hr{
    background: none;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
.container-of-all .content > div:nth-of-type(2) h3,
.container-of-all .content > div:nth-of-type(3) h3,
.container-of-all .content > div:nth-of-type(4) h3{
    font-size:17px;
    color:#333;
    margin-bottom: 10px;
}
.container-of-all .content > div:nth-of-type(2) p{
    font-size:14px;
    line-height:1.5;
    color:#444;
    padding-right: 30%;
}


.container-of-all .content > div:nth-of-type(3) > div{
    display: flex;
    
}
.container-of-all .content > div:nth-of-type(3) > div span{
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--theColorOfBg);
    margin: 0 10px;
    border-radius: 50%;
    border: 4px solid var(--theColorOfBorder);
    cursor: pointer;
}

.container-of-all .content > div:nth-of-type(3) > div span:first-of-type{
    --theColorOfBg:#2175f5;
    --theColorOfBorder:#2175f5;
}
.container-of-all .content > div:nth-of-type(3) > div span:nth-of-type(2){
    --theColorOfBg:#f84848;
    --theColorOfBorder:#f84848;
}
.container-of-all .content > div:nth-of-type(3) > div span:nth-of-type(3){
    --theColorOfBg:#29b864;
    --theColorOfBorder:#29b864;
}
.container-of-all .content > div:nth-of-type(3) > div span:nth-of-type(4){
    --theColorOfBg:#ff5521;
    --theColorOfBorder:#ff5521;
}
.container-of-all .content > div:nth-of-type(3) > div span:nth-of-type(5){
    --theColorOfBg:#444;
    --theColorOfBorder:#444;
}
.container-of-all .content > div:nth-of-type(3) > div span.active{
    --theColorOfBorder:#fff;
}
.container-of-all .content > div:nth-of-type(4) > div span{
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: #eee;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    transition: .4s all linear;
}
.container-of-all .content > div:nth-of-type(4) > div span.active{
    background-color: var(--theNewColor);
    color: #fff;
}
.container-of-all .content > div:nth-of-type(4) > div span.active.active-0{
    --theNewColor : #2175f5;
}
.container-of-all .content > div:nth-of-type(4) > div span.active.active-1{
    --theNewColor : #f84848;
}
.container-of-all .content > div:nth-of-type(4) > div span.active.active-2{
    --theNewColor : #29b864;
}
.container-of-all .content > div:nth-of-type(4) > div span.active.active-3{
    --theNewColor : #ff5521;
}
.container-of-all .content > div:nth-of-type(4) > div span.active.active-4{
    --theNewColor : #444;
}
.container-of-all .content > div:nth-of-type(5){
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.container-of-all .content > div:nth-of-type(5) button{
    background: #2175f5;
    color: #fff;
    font-size:12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding:12px 15px;
    transition: .4s all linear;

}
.container-of-all .content > div:nth-of-type(5) h4{
    margin-left: auto;
    font-size: 22px;
    
}
.container-of-all .slider-container{
    width: 100%;
    height: 40%;
    background-color: blue;
    box-shadow: -4px -4px 30px -2px #444;
    position: relative;
    direction: rtl;
}
.container-of-all .slider-container .slider-fixed{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.container-of-all .slider-container .slider-fixed > img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}
.container-of-all .slider-container .slider-fixed > div{
    position: relative;
    transform: rotate(-25deg);
    width: 145%;
    height: 72%;
    top: 22%;
    left: -3%;
    z-index: 10;
}
.container-of-all .slider-container .slider-fixed > div img{
    width: 60%;
    position: absolute;
    top: 4%;
    left: 33%;
    opacity: 0;
    transition: .5s all linear;
}
.container-of-all .slider-container .slider-fixed > div img.active{
    opacity: 1;
}
.container-of-all .slider-container .slider-content{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.container-of-all .slider-container .slider-content .slider-items{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    
}

.container-of-all .slider-container .slider-content .slider-items > div.slider-item{
    transition: .5s all linear;
    transform: translateX(0px);
    width:25%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    
}
.container-of-all .slider-container .slider-content .slider-items > div.slider-item.theSecondCall{
    left: 0;
}
.container-of-all .slider-container .slider-content .slider-items > div.absolute.slider-item{
    left: -100%;
}


.container-of-all .slider-container .slider-content .slider-items > div:nth-of-type(1){
    background: linear-gradient(45deg, #0136af, #22abfa);
}
@media (min-width:576px){
    .container-of-all .slider-container .slider-fixed > div{
        transform: rotate(-15deg);
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }
    .container-of-all .slider-container .slider-fixed > div img{
            width: 65%;
            top: 0px;
            left: 5%;
    }
}
@media (min-width:768px){
    
    .container-of-all .slider-container .slider-fixed > div img{
        width: 55%;
        top: -15px;
        left: 8%;
    }
}
@media (min-width:992px){
    body .container-of-all{
        flex-wrap: nowrap;
    }
    body .container-of-all .content{
        width: 50%;
        padding:25px;
    }
    .container-of-all .slider-container{
        width:50%;
        height:60%;
    }
    .container-of-all .slider-container .slider-fixed > div img {
        width: 110%;
        top: -25px;
        left: -39%;
    }
    
}



















